{% block paystack_settings_page %}

    <sw-page class="paystack_settings">
        <template slot="content">

        
        {% block paystack_loader %}
            <sw-loader v-if="isLoading" size="40px" >
                Loading...
            </sw-loader>
        {% endblock %}


       
    {% block paystack_content %}
        <sw-card-view>



    
    <div>
    
        <sw-label>
            {{ $tc('input.label.secretKey') }} <sw-help-text :text="$tc('input.label.helper.secretKey')"  />
        </sw-label>         
            
            <sw-password-field 
                :placeholder="$tc('input.label.secretKey')" 
                v-model="secretKey"
            >

            </sw-text-field>
    </div>


    <div>
        <sw-label>
            {{ $tc('input.label.publicKey') }} <sw-help-text :text="$tc('input.label.helper.publicKey')" />
        </sw-label>  

        <sw-password-field 
        :placeholder="$tc('input.label.publicKey')"
        v-model="publicKey"
        />                   
    </div>


    <div>            
        <sw-button class="paystack-btn" @click="updateSecretPublicKeys">
             {{ $tc('button.save') }}
        </sw-button>
    </div>



    <br/>
    <hr>
    <br/>

       

     <div v-for="(salesChannel, i) in salesChannels" :key="i">

        <div>  
            <sw-label>{{$tc('button.label.activate')}} {{ salesChannel.name}} {{$tc('heading.saleschannel')}}</sw-label><br/>          
                <sw-button class="paystack-btn" @click="activatePaymentMethod(salesChannel.id)" 
                style="background:#26b6cf; color:#fff;" >
                    {{$tc('button.name.activate')}} {{ salesChannel.name }}                              
                </sw-button>
        </div>

        <br/>


     </div>


     <div v-for="(salesChannel, i) in salesChannels" :key="i">

        <div>  
            <sw-label>{{$tc('button.label.deactivate')}} {{ salesChannel.name}} {{$tc('heading.saleschannel')}}</sw-label><br/>          
                <sw-button class="paystack-btn" @click="deleteSalesChannelPaymentMethod(salesChannel.id)" 
                style="background:#dc3545; color:#fff;" >
                    {{$tc('button.name.deactivate')}} {{ salesChannel.name }}                              
                </sw-button>
        </div>

        <br/>


     </div>



     <div v-for="(salesChannel, i) in salesChannels" :key="i">

        <div>  
            <sw-label>{{$tc('button.label.default')}} {{ salesChannel.name}} {{$tc('heading.saleschannel')}}</sw-label><br/>          
                <sw-button class="paystack-btn" @click="makeDefault(salesChannel.id)" 
                style="background:#28a745; color:#fff;" >
                    {{$tc('button.name.default')}} {{ salesChannel.name }}                              
                </sw-button>
        </div>

        <br/>


     </div>



</sw-card-view>

{% endblock %}

        

      


        




        </template>
    </sw-page>
{% endblock %}
